<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola </title>


<link rel="stylesheet" href="/static/css/estilo.css">

</head>
<body>
<header>
	<h1>La tienda de Ciclismo #1 del Ecuador.</h1>
	</header>


<nav>

 <a href="#"  class="brand-logo"><img src="/static/imagenes/logo2.png" width="11%" alt=""></a>
 <ul id="nav-mobile" class="right hide-on-med-and-down">
<li class="current"><a href="index.jsp">INICIO</a></li>
<li><a href="productos.jsp">PRODUCTOS</a></li>
<li><a href="contactanos.jsp">CONTACTANOS</a></li>
<li><a href="login.jsp">INICIAR SESION</a></li>
</ul>
</nav>

      <!-- Contenido -->
        <section>

            <figure>
                    <img src="/static/imagenes/bicicleta.jpg" width="200" height="200" alt="foto"  />
                    <figcaption>Proyecto Bicicletas</figcaption>
            </figure>

           <p style="text-align: justify;">Innovamos y hacemos camino al andar.
Tenemos pasión por la excelencia.
Estamos abiertos a nuevas ideas y vemos los cambios como oportunidades.
Miramos nuestro futuro viviendo nuestro presente y aprendiendo de nuestro pasado.
Vivimos la "Calidad" y nos motiva la mejora continua.
Tenemos una enorme cantidad de energía positiva y la transmitimos.
Nos gusta los desafíos y aceptamos los retos.
Estamos comprometidos con la comunidad y el medio ambiente.
Nuestro equipo humano es una ventaja competitiva constante. </p>
        </section>

<aside>
        <h3><a href="#">NUESTRA VISIÓN</a></h3>
	 			 	<p>Ser la cadena de tiendas de ciclismo #
	 			 	1 del País, superando año tras año las expectativas de servicio
	 			 	 a nuestros clientes, metas a nuestros proveedores y rentabilidad empresarial.</p>
	 	<h3><a href="#">NUESTROS VALORES</a></h3>

	 			 	<p>Innovamos y hacemos camino al andar.
					Tenemos pasión por la excelencia.
					Estamos abiertos a nuevas ideas y vemos los cambios como oportunidades.</p>
        </aside>
</body>
</html>